{% load staticfiles %}
<!DOCTYPE html	>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--maximum-scale=1.0, user-scalable=no-->
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="description" content="数学是各门学科的基础和工具，当今数学几乎深入到我们能想到的一切方面，它不仅已成功地运用到了各个科学技术领域，如信息、航天、医药、材料、能源、生物、环境等，在社会科学领域如经济学、语言学、系统科学、管理科学也占据着越来越重要的地位。"/>
        <meta name="keywords" content="数学与应用数学专业的培养目标是培养具有扎实深厚的数学功底，较强的应用数学知识解决实际问题的能力，能熟练运用计算机（包括常用语言、工具及数学软件）及具有初步应用程序开发的能力，富有创新精神，能够进行跨学科交叉合作的优秀人才。经过四年学习，使学生初步具备在基础数学或应用数学某个方向从事当代学术前沿问题研究的能力。学生毕业后可继续攻读数学、计算机、信息科学、经济、金融与管理科学等方向的研究生。"/>
    <title>南方科技大学 数学系</title>
        <link rel="stylesheet" href="{% static "css/layout.css" %}" type="text/css" charset="utf-8" media="all"/>
        <script src="{% static "js/layout.js" %}" type="text/javascript" charset="utf-8"></script>
    <link href="favicon.ico" rel="shortcut icon"/>
    <link href="favicon.png" rel="apple-touch-icon-precomposed"/>
  </head>
  <body>
    <div class="header-nav">
      <div class="container">
        <div class="page-head">
          <div class="header-top row">
            <div class="col-sm-4"><a href="index.html"><img src="static/img/head/LOGO.png" class="img-responsive"/></a></div>
            <div class="col-sm-4 head-name"><a href="http://www.sustc.edu.cn/" class="sch-name">南方科技大学</a><br/><a href="index.html" class="dep-name">数学系</a></div>
            <div class="col-sm-4 shortcut">
              <ul class="nav nav-pills">
                <li class="dropdown"><a class="entrance">仅内部<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown"><a>邮箱</a><a>网络办公</a><a>学生</a><a>教工</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a class="language">English</a></li>
              </ul>
            </div>
          </div>
          <div class="header-bottom navbar">
            <ul class="nav nav-pills">
              <li class="dropdown"><a>部门简介<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a href="aboutUs.html">数学系介绍</a><a href="employment.html">招贤纳士</a><a href="contact.html">联系方式</a><a href="news.html">数学系新闻</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="teachers.html">人员构成</a></li>
              <li class="dropdown"><a href="math_bachelor.html">本科生培养</a></li>
              <li class="dropdown"><a href="math_master.html">研究生培养</a></li>
              <li class="dropdown"><a href="math_academics.html">学术科研</a></li>
              <li class="dropdown"><a>活动<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a href="annoucements.html">学术讲座</a><a>学术讲座</a><a>学术讲座</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="contentArea teachers">
      <div class="container">
        <div class="row-fluid">
          <h1>人员构成</h1>
          <hr/>
          <ul class="nav nav-tabs row">
            <li class="active col-sm-4"><a href="#tab1" data-toggle="tab">主任</a></li>
            <li class="col-sm-4"><a href="#tab2" data-toggle="tab">教授</a></li>
            <li class="col-sm-4"><a href="#tab3" data-toggle="tab">教学人员</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab1" class="tab-pane fade active in">
              <h2>主任</h2>
              <div class="row">
                <div class="col-sm-3"><img src="static/img/teachers/Layer25(merged).png"/></div>
                <div class="col-sm-3">
                  <p class="teachers_name">夏志宏</p>
                  <p>讲座教授</p>
                  <p>数学系主任</p>
                  <p>数学系</p>
                  <p>电话:&#12288;&#12288;0755-88018770</p>
                  <p>办公室:&#12288;科教服务中心701-01</p>
                  <p>邮箱:&#12288;&#12288;xiazh@sustc.edu.cn</p>
                  <p>个人主页:XXXX</p>
                </div>
              </div>
              <h2>副主任</h2>
              <div class="row">
                <div class="col-sm-3"><img src="static/img/teachers/Layer26(merged).png"/></div>
                <div class="col-sm-3">
                  <p class="teachers_name">李景治</p>
                  <p>副教授</p>
                  <p>数学系教学副主任</p>
                  <p>数学系</p>
                  <p>电话:&#12288;&#12288;0755-88018770</p>
                  <p>办公室:&#12288;科教服务中心701-01</p>
                  <p>邮箱:&#12288;&#12288;xiazh@sustc.edu.cn</p>
                  <p>个人主页:XXXX</p>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab-pane fade">
              <h2>教授</h2>
              <div class="row">
                <div class="col-sm-3"><img src="static/img/teachers/Layer27(merged).png"/></div>
                <div class="col-sm-3">
                  <p class="teachers_name">陈安岳</p>
                  <p>讲座教授</p>
                  <p>数学系</p>
                  <p>电话:&#12288;&#12288;0755-88018770</p>
                  <p>办公室:&#12288;科教服务中心701-01</p>
                  <p>邮箱:&#12288;&#12288;xiazh@sustc.edu.cn</p>
                  <p>个人主页:XXXX</p>
                </div>
              </div>
            </div>
            <div id="tab3" class="tab-pane fade">
              <h2>教学人员</h2>
              <div class="row">
                <div class="col-sm-3"><img src="static/img/teachers/Layer29(merged).png"/></div>
                <div class="col-sm-3">
                  <p class="teachers_name">汤涛</p>
                  <p>讲座教授</p>
                  <p>科研副校长</p>
                  <p>数学系</p>
                  <p>电话:&#12288;&#12288;0755-88018770</p>
                  <p>办公室:&#12288;科教服务中心701-01</p>
                  <p>邮箱:&#12288;&#12288;xiazh@sustc.edu.cn</p>
                  <p>个人主页:XXXX</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-3"><img src="static/img/foot/Layer 23.png"/></div>
          <div class="col-sm-6 col-xs-6">
            <div class="row center">
              <ul class="col-xs-2"><a href="http://www.sustc.edu.cn/about_0">
                  <li>学校概况</li></a><a href="http://www.sustc.edu.cn/communication">
                  <li>交流合作</li></a><a href="http://talent.sustc.edu.cn/cn/">
                  <li>人才招聘</li></a></ul>
              <ul class="col-xs-2"><a href="http://www.sustc.edu.cn/schools_dept">
                  <li>院系设置</li></a><a href="http://www.sustc.edu.cn/compus_dongtai">
                  <li>学生生活</li></a><a href="http://www.sustc.edu.cn/public_service">
                  <li>公共服务</li></a></ul>
              <ul class="col-xs-2"><a href="http://www.sustc.edu.cn/faculty">
                  <li>师资队伍</li></a><a href="http://www.sustc.edu.cn/admission">
                  <li>招生</li></a><a href="http://www.sustc.edu.cn/announcements">
                  <li>通知公告</li></a></ul>
              <ul class="col-xs-2"><a href="http://www.sustc.edu.cn/academics">
                  <li>教育教学</li></a><a href="http://www.sustcef.org/cn">
                  <li>教育捐赠</li></a><a href="http://www.sustc.edu.cn/news_events">
                  <li>新闻动态</li></a></ul>
              <ul class="col-xs-2"><a href="http://www.sustc.edu.cn/research">
                  <li>科学研究</li></a><a href="http://www.sustc.edu.cn/party">
                  <li>党群园地</li></a><a href="http://www.sustc.edu.cn/openinfo">
                  <li>信息公开</li></a></ul>
            </div>
          </div>
          <div class="col-sm-3 col-xs-3"><img src="static/img/foot/TDcode.png"/></div>
          <div class="col-sm-12">
            <p>© 2015 All Rights Reserved. 粤ICP备14051456号 地址：广东省深圳市南山区学苑大道1088号 电话：+86-755-8801 0000 邮编：518055</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
